*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;

}

body{
background-image: linear-gradient(to right, #00b09b, #96c93d);
}


/* nav section  */

.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 1px solid black; */
}

.profile-pic img{
  width: 4rem;
  height: 4rem;
  padding: 0.3rem;
}
.name{
  margin-left: 1rem;
}

.name{
    
}
.name a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2.2rem;
  font-style: oblique;
  margin-top: 1rem;

}
.name a h3:hover{
  border-bottom: 2px solid rgb(71, 203, 255);
  transition: 1s;
  transform: scale(1);
  color: #ccf389;
}